{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Student Center{% endblock %}
{% block body %}
<div class="content-section">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<center>{{ utils.flashed_messages() }}</center>
			</div>
		</div>
	</div>
</div>
{% endblock %}
			
