{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Student Center{% endblock %}
{% block body %}
<div class="content-section">
	<div class="outer">
		<div class="middle">
			<div class="center">
				<h3><center>Student Center for {{ current_user.student_fname}} {{ current_user.student_lname }}</center></h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
			
