{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Student Center{% endblock %}
{% block body %}
<div class="content-section">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<h3><center>Transcripts for {{ current_user.student_fname}} {{ current_user.student_lname }}</center></h3>
				{% if transcripts %}
				<hr class="intro-divider">
				<div class="center">
					<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th width="15%"> Year </th>
							<th width="40%"> Transcript Title </th>
							<th width="30%"></th>
						<tr>
					</thead>
					<tbody>
					{% for transcript in transcripts %}
						<tr>
							<td> {{ transcript.transcript_year }}</td>
							<td> {{ transcript.transcript_name }}</td>
							<td> <a href="{{ url_for('api.download_transcripts', id=transcript.transcript_id) }}">Download</a> </td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
				{% else %}
				<div style="text-align: center">
					<p>Transcript not yet available. Come back later</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
			
