{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html class="no-js" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }} | Gotham University</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.transitions.css') }}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/educate-custon-icon.css') }}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/morrisjs/morris.css') }}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu/metisMenu.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu/metisMenu-vertical.css') }}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar/fullcalendar.print.min.css') }}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center m-b-md custom-login">
				<h3>Gotham Edu IT System</h3>
				<p>Please login to access IT Tools</p>
			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
			{{ wtf.quick_form(form) }}
                    </div>
                </div>
			</div>
			<div class="text-center login-footer">
				<p>Gotham University</p>
			</div>
		</div>   
    </div>
  <!-- jquery
		============================================ -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/jquery-price-slider.js') }}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/jquery.meanmenu.js') }}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/counterup/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counterup/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counterup/counterup-active.js') }}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar/mCustomScrollbar-active.js') }}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu/metisMenu-active.js') }}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/morrisjs/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morrisjs/morris.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morrisjs/morris-active.js') }}"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sparkline/jquery.charts-sparkline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sparkline/sparkline-active.js') }}"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/calendar/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar/fullcalendar-active.js') }}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <!-- main JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="{{ url_for('static', filename='js/tawk-chat.js') }}"></script>

</body>

</html>
